.position-links {
  position: relative;
  // top: 215px;

  @include media-breakpoint-down(sm) {
    top: 15px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__svg {
    width: 12px;
    height: 12px;
    fill: $greyColor;
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $greyColor;
  }

  &__text {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $greyColor;
  }
}
