.promo {
  height: 600px;
  position: relative;

  @include media-breakpoint-down(md) {
    height: 450px;
  }

  @include media-breakpoint-down(sm) {
    height: 350px;
  }

  @include media-breakpoint-down(xs) {
    height: 250px;
  }

  &__container {
    position: relative;
    height: 100%;
    padding-top: 185px;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    @include media-breakpoint-down(md) {
      padding-top: 80px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 40px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-weight: 800;
    font-size: 62px;
    letter-spacing: 0.01em;
    color: $whiteColor;
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
      font-size: 42px;
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.01em;
    text-align: center;
    color: $whiteColor;
    text-align: center;
    max-width: 529px;
    margin-bottom: 29px;

    @include media-breakpoint-down(md) {
      font-size: 20px;
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 14px;
      margin-bottom: 10px;
      max-width: 300px;
    }
  }

  &__descr-text {
    display: none;
  }

  &__svg {
    width: 61px;
    height: 61px;

    @include media-breakpoint-down(md) {
      width: 51px;
      height: 51px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    // aspect-ratio: 3.2 / 1;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &_second {
    @include media-breakpoint-down(md) {
      margin-top: 70px;
    }
    .promo__title {
      font-weight: 800;
      font-size: 45px;
      letter-spacing: 0.01em;
      text-align: center;
      max-width: 1015px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }
    }

    .promo__text {
      display: none;
    }

    .promo__descr-text {
      display: block;
      font-style: italic;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.01em;
      color: $whiteColor;
      margin-top: 28px;
    }
  }

  &_big {
    height: 742px;

    @include media-breakpoint-down(md) {
      height: 450px;
    }

    @include media-breakpoint-down(sm) {
      height: 350px;
    }

    @include media-breakpoint-down(xs) {
      height: 250px;
    }

    .promo__container {
      padding-top: 238px;
      @include media-breakpoint-down(md) {
        padding-top: 80px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 40px;
      }
    }

    .promo__title {
      @include media-breakpoint-down(sm) {
        font-size: 20px;
      }
    }

    .promo__video-link {
      margin-top: 28px;

      @include media-breakpoint-down(xs) {
        margin-top: 0;
      }
    }
    .promo__descr-text {
      @include media-breakpoint-down(xs) {
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }

  &_sec-var {
    .promo__video-link {
      order: -1;
      margin-top: -15px;
      margin-bottom: 43px;
    }

    .promo__title {
      font-size: 45px;
      margin-bottom: 12px;

      @include media-breakpoint-down(md) {
        font-size: 42px;
        margin-bottom: 30px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 30px;
        margin-bottom: 10px;
      }
    }

    .promo__text {
      max-width: 640px;
      font-size: 22px;

      @include media-breakpoint-down(md) {
        font-size: 20px;
        margin-bottom: 40px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 14px;
        margin-bottom: 10px;
        max-width: 300px;
      }
    }
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    &_active {
      display: block;
    }
  }

  .video-close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    fill: red;
    z-index: -2;

    &_active {
      z-index: 1;
    }
  }

  &_small {
    height: 300px;

    .promo__title {
      text-align: center;
    }

    .promo__text {
      display: none;
    }

    .promo__video-link {
      display: none;
    }

    .promo__container {
      padding-top: 0;
    }

    .promo__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &_with-pos-links {
    .promo__pos-links {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      top: 36px;
    }
  }

  &__pos-links {
    display: none;
  }

  &__pos-svg {
    width: 12px;
    height: 12px;
    fill: $whiteColor;
  }

  &__pos-link {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $whiteColor;
  }

  &__pos-text {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $whiteColor;
  }
}
