.promo {
  height: 600px;
  position: relative;

  @include media-breakpoint-down(md) {
    height: 450px;
  }

  @include media-breakpoint-down(sm) {
    height: 350px;
  }

  @include media-breakpoint-down(xs) {
    height: 250px;
  }

  &__container {
    position: relative;
    height: 100%;
    padding-top: 185px;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    @include media-breakpoint-down(md) {
      padding-top: 80px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 40px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-weight: 800;
    font-size: 62px;
    letter-spacing: 0.01em;
    color: $whiteColor;
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
      font-size: 42px;
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.01em;
    text-align: center;
    color: $whiteColor;
    text-align: center;
    max-width: 529px;
    margin-bottom: 29px;

    @include media-breakpoint-down(md) {
      font-size: 20px;
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 14px;
      margin-bottom: 10px;
      max-width: 300px;
    }
  }

  &__descr-text {
    display: none;
  }

  &_second {
    @include media-breakpoint-down(md) {
      margin-top: 70px;
    }
    .promo__title {
      font-weight: 800;
      font-size: 45px;
      letter-spacing: 0.01em;
      text-align: center;
      max-width: 1015px;

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }
    }

    .promo__text {
      display: none;
    }

    .promo__descr-text {
      display: block;
      font-style: italic;
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.01em;
      color: $whiteColor;
      margin-top: 28px;
    }
  }

  &__video-svg {
    width: 61px;
    height: 61px;

    @include media-breakpoint-down(md) {
      width: 51px;
      height: 51px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    // aspect-ratio: 3.2 / 1;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
