// Colors

//green

$greenColor: #337d5a;
$greenLightColor: #93b474;

//black

$blackColor:#1a2f3f;
$inputBgHoverColor: rgba(51, 125, 90, 0.1);
$inputBorderColor:rgba(0, 0, 0, 0.15);
$blackTextColor:#323232;
$selectBorderColor:rgba(147, 180, 116,0.1);

//grey 

$greyColor: #8a8a8a;

//white

$whiteColor: #fff;


// animation

$animation: 300ms linear;


