.select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;

  &__text {
    font-weight: 500;
    font-size: 13px;
  }

  &__menu {
    position: absolute;
    top: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
    // background: $greenLightColor;
    width: 100%;
    background: $greenLightColor;
    opacity: 0;
    visibility: hidden;
    border: 0.5px solid $greenLightColor;
    transition: opacity $animation, visibility $animation;

    &_open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__mobile {
    width: 54px;
    height: 38px;
    border: 1px solid $greenColor;

    .select__menu {
      top: 40px;
      border: none;
    }

    .select__menu-item {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      padding-left: 10px;
    }
  }

  &__menu-item {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.06em;
    // color: $whiteColor;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;

    &_active {
      color: $blackColor;
      background: $greenColor;
    }
  }

  &__svg {
    width: 8px;
    height: 6px;
    transition: transform $animation;

    &_rotate {
      transform: rotate(180deg);
    }
  }
}
