<section class="{=$class}">
  <div class="advantages__container">
    <dl class="advantages__list">
      <div class="advantages__list-container">
        <dd class="advantages__list-number">240</dd>
        <dt class="advantages__list-text advantages__list-text_first">Cмешанных садов</dt>
      </div>

      <div class="advantages__list-container">
        <dd class="advantages__list-number">1</dd>
        <dt class="advantages__list-text advantages__list-text_second">Тепличного комплекса</dt>
      </div>

      <div class="advantages__list-container">
        <dd class="advantages__list-number">10</dd>
        <dt class="advantages__list-text">
          Первая промышленная плантация шиповника в Украине
        </dt>
      </div>

      <div class="advantages__list-container">
        <dd class="advantages__list-number advantages__list-number_last">80</dd>
        <dt class="advantages__list-text advantages__list-text_fourth">Приживаемости саженцев</dt>
      </div>
    </dl>
  </div>
</section>
