<section class="advantages">
  <div class="advantages__container">
    <dl class="advantages__list">
      <div class="advantages__list-container">
        <dd class="advantages__list-number">240 <span class="advantages__list-number-descr">га</span></dd>
        <dt class="advantages__list-text advantages__list-text_first">Cмешанных садов</dt>
      </div>

      <div class="advantages__list-container">
        <dd class="advantages__list-number">1 <span class="advantages__list-number-descr">га</span></dd>
        <dt class="advantages__list-text advantages__list-text_first_second">Тепличного комплекса</dt>
      </div>

      <div class="advantages__list-container">
        <dd class="advantages__list-number">80 <span class="advantages__list-number-descr">га</span></dd>
        <dt class="advantages__list-text">
          Первая промышленная плантация шиповника в Украине
        </dt>
      </div>

      <div class="advantages__list-container">
        <dd class="advantages__list-number">80 <span class="advantages__list-number-descr">%</span></dd>
        <dt class="advantages__list-text advantages__list-text_fourth">Приживаемости саженцев</dt>
      </div>
    </dl>
  </div>
</section>
