<div class="benefit__card">
  <!-- <div class="benefit__card-info">
    <svg class="{=$svgClass}">
      <use href="{=$svgHref}"></use>
    </svg>
    <h3 class="benefit__card-title">{=$cardTitle}</h3>
    <div class="benefit__card-text-box">
      <p class="benefit__card-text">
        Дерево жизни - так часто величают грецкий орех, поскольку с давних пор
        он кормил, восстанавливал силы и лечил человека.
      </p>

      <p class="benefit__card-text">
        Даже небольшая горсть грецких орехов - это кладезь витаминов и хорошая
        профилактика многих заболеваний
      </p>
    </div>
  </div> -->

  <img src="{=$imgSrc}" alt="photo" class="benefit__card-img" />

  <div class="benefit__card-overlay">
    <div class="benefit__card-info">
      <svg class="{=$svgClass}">
        <use href="{=$svgHref}"></use>
      </svg>
      <h3 class="benefit__card-title">{=$cardTitle}</h3>
      
      <div class="benefit__card-text-box">
        <p class="benefit__card-text">
          Дерево жизни - так часто величают грецкий орех, поскольку с давних пор
          он кормил, восстанавливал силы и лечил человека.
        </p>

        <p class="benefit__card-text">
          Даже небольшая горсть грецких орехов - это кладезь витаминов и хорошая
          профилактика многих заболеваний
        </p>
      </div>
    </div>
  </div>

  <!-- <div class="benefits__card-overlay">
   
  </div> -->
</div>
