<footer class="footer">
  <div class="footer__container">

    <div class="footer__top">
      <load src="src/html/components/logo-box.html" logoSrc="src/assets/images/reused/logo.svg"/>

      <load src="src/html/components/navigation.html" secondText="Корпоративным клиентам" fourthText="О производстве" lastText="Галерея" class="nav footer__nav" lastHref="/Nuts/src/html/pages/gallary.html" onclick="location.href='/Nuts/src/html/pages/gallary.html'" dataLink="gallary.html"/>
    </div>

    <div class="footer__bottom">
      <p class="footer__bottom-develop">Разработано <span class="footer__bottom-develop-colory"> AVADA MEDIA</span> </p>

      <p class="footer__bottom-rights">Copyright © 2019. Все права защищены</p>

      <load src="src/html/components/socials.html"/>
    </div>
  </div>
</footer>
