<div class="header__mobile">

  <div class="header__mobile-top">
    <a href="tel:+38 (044) 750-50-11" class="header__bottom-tel">
      <svg class="header__mobile-tel-svg">
        <use href="#phone"></use>
      </svg>
      <span class="header__bottom-tel_colory">+38 (044)</span>
      750-50-11
    </a>

    <a href="#" class="header__mobile-order">Заказать звонок</a>

    <div class="select select__mobile">
      <p class="select__text">Ru</p>

      <svg class="select__svg">
        <use href="#arrow-down"></use>
      </svg>

      <ul class="select__menu">
        <li class="select__menu-item">Ru</li>

        <li class="select__menu-item">En</li>

        <li class="select__menu-item">Ro</li>
      </ul>
    </div>
  </div>

  <div class="header__mobile-bottom">
    <a href="#" class="open-menu">
      <svg class="open-menu-svg">
        <use href="#menu-open"></use>
      </svg>
    </a>

    <!-- <div class="header__bottom-logo-box header__bottom-logo-box_mobile">
      <img
        src="src/assets/images/reused/logo.svg"
        alt=""
        class="header__bottom-logo"
      />
      <h1 class="header__bottom-title">
        <span>ОРЕХ </span>
        <span>ПРИЧЕРНОМОРЬЯ</span>
      </h1>
    </div> -->

    <load src="src/html/components/logo-box.html" logoSrc="src/assets/images/reused/logo.svg" />

    <svg class="header__basket-svg">
      <use href="#basket"></use>
    </svg>
  </div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <!-- <div class="header__bottom-logo-box">
        <img
          src="src/assets/images/reused/logo.svg"
          alt=""
          class="header__bottom-logo"
        />

        <h1 class="header__bottom-title">
          <span>ОРЕХ </span>
          <span>ПРИЧЕРНОМОРЬЯ</span>
        </h1>
      </div> -->
      <load src="src/html/components/logo-box.html" logoSrc="src/assets/images/reused/logo.svg" />
      <a href="#" class="mobile-menu__close">
        <svg class="mobile-menu__close-svg">
          <use href="#menu-close"></use>
        </svg>
      </a>
    </div>

    <div class="mobile-menu__bottom">
      <div class="header__top-enter enter">
        <div class="enter__links">
          <a href="#" class="enter__link">
            <svg class="enter__link-svg">
              <use href="#user"></use>
            </svg>
            Вход
            <span class="enter__link-line"></span>
          </a>

          <a href="#" class="enter__link">
            Регистрация
            <span class="enter__link-line"></span>
          </a>
        </div>
      </div>

      <!-- <div class="header__socials">
        <svg class="header__top-svg">
          <use href="#facebook"></use>
        </svg>

        <svg class="header__top-svg">
          <use href="#instagramm"></use>
        </svg>

        <svg class="header__top-svg">
          <use href="#youtube"></use>
        </svg>
      </div> -->

      <load src="src/html/components/socials.html" socialSvgClass="socials__svg"/>
    </div>

    <load
      src="src/html/components/navigation.html"
      class="nav nav_mobile" secondText="О производстве
" fourthText="Оптовым и корпоративным клиентам" lastText="Контакты"
    />
  </div>
  
</div>
