<header class="{=$class}">
  <div class="header__container">
    <div class="header__top">
      <div class="header__socials">
        <svg class="header__top-svg">
          <use href="#facebook"></use>
        </svg>

        <svg class="header__top-svg">
          <use href="#instagramm"></use>
        </svg>

        <svg class="header__top-svg">
          <use href="#youtube"></use>
        </svg>
      </div>

      <div class="header__top-user-info">
        <p class="header__top-discount">Ваша персональная скидка - 5%</p>

        <div class="header__top-enter enter">
          <div class="enter__links">
            <a href="#" class="enter__link">
              <svg class="enter__link-svg">
                <use href="#user"></use>
              </svg>
              Вход
              <span class="enter__link-line"></span>
            </a>

            <a href="#" class="enter__link">
              Регистрация
              <span class="enter__link-line"></span>
            </a>
          </div>

          <!-- <div class="select">
            <p class="select__text">Ru</p>

            <svg class="select__svg">
              <use href="#arrow-down"></use>
            </svg>

            <ul class="select__menu">
              <li class="select__menu-item">Ru</li>

              <li class="select__menu-item">En</li>

              <li class="select__menu-item">Ro</li>
            </ul>
          </div> -->
          <load src="./language-select.html"/>
        </div>
      </div>
    </div>

    <div class="header__bottom">
      <div class="header__bottom-logo-box">
        <img
          src="src/assets/images/reused/logo.svg"
          alt=""
          class="header__bottom-logo"
        />
        <h1 class="header__bottom-title">
          <span>ОРЕХ </span>
          <span>ПРИЧЕРНОМОРЬЯ</span>
        </h1>
      </div>

      <div class="header__bottom-inner">
        <div class="header__bottom-contacts">
          <div class="header__bottom-socials">
            <svg class="header__bottom-svg">
              <use href="#viber"></use>
            </svg>

            <svg class="header__bottom-svg">
              <use href="#telegramm"></use>
            </svg>

            <svg class="header__bottom-svg">
              <use href="#whatsupp"></use>
            </svg>
          </div>

          <div class="header__bottom-tels">
            <a href="tel:+38 (044) 750-50-11" class="header__bottom-tel">
              <span class="header__bottom-tel_colory">+38 (044)</span>
              750-50-11
            </a>

            <a href="tel:+38 (044) 750-50-51" class="header__bottom-tel"
              ><span class="header__bottom-tel_colory">+38 (044)</span>
              750-50-51
            </a>
          </div>
        </div>

        <div class="header__bottom-orders-info">
          <div class="header__bottom-call-box">
            <a href="#" class="button button-green">Заказать звонок</a>

            <p class="header__bottom-call-text">
              Ждем Вашего звонка ежедневно с 9 до 18
            </p>
          </div>

          <svg class="header__basket-svg">
            <use href="#basket"></use>
          </svg>
        </div>
      </div>
    </div>

    <load src="./navigation.html" class="nav header__nav"/>

    <load src="./header-mobile.html"/>
  </div>
</header>
