<nav class="{=$class}">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="#" class="nav__link ">Магазин</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">О производстве</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">Оплата и доставка</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">Оптовым и корпоративным клиентам</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">Новости и статьи</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">Контакты</a>
    </li>
  </ul>
</nav>
