<nav class="{=$class}">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="#" class="nav__link" data-link="{=$dataLink}">Магазин</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link" data-link="{=$dataLink}">{=$secondText}</a>
    </li>
    <li class="nav__item">
      <a href="/Nuts/src/html/pages/payment.html" class="nav__link" data-link="{=$dataLink}">Оплата и доставка</a>
    </li>
    <li class="nav__item">
      <a href="/Nuts/src/html/pages/for-clients.html" class="nav__link" data-link="{=$dataLink}">{=$fourthText}</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link" data-link="{=$dataLink}">Новости и статьи</a>
    </li>
    <li class="nav__item">
      <a href="{=$lastHref}" onclick="location.href='{=$srcClick}'" data-link="{=$dataLink}" class="nav__link">{=$lastText} </a>
    </li>
  </ul>
</nav>
