<div class="{=$class}">
  <img src="{=$promoImgSrc}" alt=""  class="card__img"/>
  <div class="gallary__card-promo-overlay"></div>
  <div class="gallary__card-content">
    <a href="#" class="video-link">
      <svg class="video-svg">
        <use href="#video-link"></use>
      </svg>
    </a>

    <h3 class="gallary__promo-title">Проект UBHDP</h3>

    <p class="gallary__promo-text">
      Вчера к нам приезжал американский агроном Рон , спасибо Мельнику Евгению и
      проекту UBHDP за возможность получить консультацию от мировых
      специалистов!
    </p>
  </div>
</div>
