<div class="{=$class}">
  <img src="{=$imgSrc}" alt="photo" class="card__img" />

  <div class="card__overlay">
    <svg class="card__overlay-svg">
      <use href="#overlay-decor"></use>
    </svg>
    <div class="card__overlay-content">
      <h3 class="card__overlay-title">SIAL Paris 2018</h3>

      <p class="card__overlay-text">
        В этом Году при поддержке проекта International Trade Centre Ukraine, и
        финансировании правительства Швеции, мы побывали на крупнейшей
        продовольственной выставке Европы <span class="card__overlay-text card__overlay-text_strong">SIAL Paris 2018</span> 
      </p>
    </div>
  </div>
</div>
