<div class="news__card">
  <div class="news__card-img-box">
    <img src="{=$imgSrc}" alt="" class="news__img" />
    <a href="#" class="news__video-link">
      <svg class="news__video-svg">
        <use href="#video-link"></use>
      </svg>
    </a>
  </div>

  <div class="news__card-inner">
    <p class="news__card-date">12.04.2019</p>

    <h3 class="{=$titleClass}">{=$newsTitle}</h3>

    <p class="news__card-text">{=$newsText}</p>

    <a href="/Nuts/src/html/pages/one-new.html" class="news__card-link"
      >Читать
      <svg class="news__card-svg">
        <use href="#link-arrow"></use>
      </svg>
    </a>
  </div>
</div>
