<section class="{=$class}">
  <div class="promo__container">

    <div class="promo__pos-links">
      <a href="#" class="promo__pos-link">Главная</a>
      <svg class="promo__pos-svg">
        <use href="#arrow-left"></use>
      </svg>
      <p class="promo__pos-text">{=$currentPosition}</p>
    </div>

    <div class="promo__content">
      <h1 class="promo__title">{=$title}</h1>

      <p class="promo__text">{=$text}</p>

      <a href="#" class="promo__video-link">
        <svg class="promo__svg">
          <use href="{=$svgHref}"></use>
        </svg>
      </a>

      <p class="promo__descr-text">Cмотреть видео о производстве</p>
    </div>
  </div>
  <img class="promo__img" alt="photo" src="{=$imgSrc}" />

  <div class="video">
    <iframe
      width="100%"
      height="100%"
      src="https://www.youtube.com/embed/hT4O8VI__XE?si=H1z3tfFuYTZChBhE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>

  <svg class="video-close">
    <use href="#menu-close"></use>
  </svg>
</section>

<!-- src="src/assets/images/main/wood.png"  -->
