<section class="payment">
  <div class="payment__container">
    <div class="tabs">
      <div class="tabs__tab">
        <svg class="tabs__svg-pay">
          <use href="pay"></use>
        </svg>

        <p class="tabs__text">Оплата заказа</p>
      </div>

      <div class="tabs__tab">
        <svg class="tabs__svg-pay">
          <use href="pay"></use>
        </svg>

        <p class="tabs__text">Оплата заказа</p>
      </div>

      <div class="tabs__tab">
        <svg class="tabs__svg-pay">
          <use href="pay"></use>
        </svg>

        <p class="tabs__text">Оплата заказа</p>
      </div>
    </div>
  </div>
</section>
