@import "./utils.scss";

@import "./components/header/header.scss";
@import "./components/navigation.scss";
@import "./components/language-select.scss";
@import "./components/promo.scss";
@import "./components/position-links.scss";
// @import "./components/info.scss";
// @import "./components/advantages.scss";
// @import "./components/benefit.scss";
@import "./components/news.scss";
@import "./components/contacts.scss";
@import "./components/logo-box.scss";
@import "./components/socials.scss";
@import "./components/gallary-cards.scss";
@import "./components/footer.scss";

.all-news {
  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }

  &__title {
    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__descr {
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }
  &__card {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;

    @include media-breakpoint-down(lg) {
      width: 408px;
      gap: 0;
    }
  }

  &__card-img {
    width: 849px;
    aspect-ratio: 1.51 / 1;

    @include media-breakpoint-down(lg) {
      width: 408px;
      margin-bottom: 22px;
    }

    @include media-breakpoint-down(md) {
      width: 308px;
    }
  }

  &__card {
    grid-column: 1 / 4;

    @include media-breakpoint-down(lg) {
      grid-column: 1 / 1;

      // flex-direction: column;
      // justify-content: baseline;
      display: block;
    }

    @include media-breakpoint-down(md) {
      width: 308px;
    }
  }

  .news__card-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 118%;
    letter-spacing: 0.01em;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 58px 32px;
    margin-bottom: 40px;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }

    @include media-breakpoint-down(md) {
      gap: 10px;
    }

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }

  .news__card-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 156%;

    &:nth-child(2) {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  .news__card-inner {
    padding: 0;
  }

  .news__card {
    @include media-breakpoint-down(md) {
      width: 308px;
    }
  }

  .news__img {
    @include media-breakpoint-down(md) {
      width: 308px;
    }
  }

  .video-svg {
    width: 61px;
    height: 61px;
  }

  .card__img {
    width: 100%;
    max-height: 556px;
    height: 100%;
    object-fit: cover;

    @include media-breakpoint-down(md) {
      height: 400px;
      aspect-ratio: 1 / 2;
    }
  }
}
